.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


body {
  font-family: Reddit Sans, sans-serif;
}

.text {
  font-family: Reddit Sans, sans-serif;
}

input.custom-input::placeholder {
  font-style: italic;
  color: gray;
  font-family: RedditSans, sans-serif;
}

input.custom-input {
  font-style: normal;
  color: black;
  font-family: RedditSans, sans-serif;
}

.li-hover{
  background-color: transparent;
  cursor: default;
}

.li-hover:hover{
  background-color: lightgray;
  cursor: pointer;
}

.button {
  cursor: default
}

.button:hover {
  cursor: pointer
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
